---
import NavDark from "../components/NavDark.astro";
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import { getAllPosts } from "../lib/cosmic";

const data = await getAllPosts();
---

<Layout title="Stekjes">
  <NavDark />

  <section>
    <h1>Alle stekjes</h1>
    <p>
      Heb jij een of meerdere plantenstekjes over en zou je die graag willen
      ruilen voor een nieuwe plantje? Bekijk hieronder ons aanbod.
    </p>

    <div class="card-wrapper">
      {
        data.map((post) => (
          <Card
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            url={post.metadata.afbeelding.url}
            beschrijving={post.metadata.beschrijving}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  section {
    height: 100vh;
    width: 100%;
    padding: 1em;
  }

  .card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
  }


</style>
